@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yanone+Kaffeesatz:wght@400;700&display=swap');

@font-face {
    font-family: 'alegreya';
    src: url('../../fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('../../fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

